body {
  background-image: linear-gradient(
    to right top,
    rgb(70, 70, 70),
    rgb(100, 100, 100)
  );
  background-attachment: fixed;
  padding: 10vw;
  color: white;
  font-size: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
#root {
  border-radius: 10px;
  border: 3px solid rgb(143, 143, 143);
  text-align: center;
}
button {
  border-radius: 20%;
  margin-left: 10px;
  cursor: pointer;
  font-size: 20px;
}
ul {
  list-style: none;
  padding-inline-start: 0;
  padding: 20px;
}
li {
  font-weight: bold;
  margin-bottom: 8px;
  display: block;
  width: 10vw;
  margin: 8px 5vw;
  padding: 10px;
  background-color: rgba(26, 168, 26, 0.37);
  border-radius: 5px;
  border: 2px solid rgb(139, 139, 139);
}
li:hover {
  background-color: rgba(32, 219, 32, 0.513);
  color: rgb(196, 255, 1);
}
